<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<servlet>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>ServletTest</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
</servlet-mapping>

<!-- <servlet> 
    <servlet-name>css</servlet-name> 
    <servlet-class>./css</servlet-class> 
</servlet> 

<servlet-mapping> 
    <servlet-name>css</servlet-name> 
    <url-pattern>./css/*</url-pattern> 
</servlet-mapping> 

<servlet> 
    <servlet-name>Js</servlet-name> 
    <servlet-class>./Js</servlet-class> 
</servlet> 

<servlet-mapping> 
    <servlet-name>Js</servlet-name> 
    <url-pattern>./Js/*</url-pattern> 
</servlet-mapping>  -->

  
<welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <!-- <welcome-file>Main.html</welcome-file>
    <welcome-file>Main.jsp</welcome-file>
    <welcome-file>Game.html</welcome-file>
    <welcome-file>Game.jsp</welcome-file> -->
</welcome-file-list>
</web-app>